<html>
  <head>
    <title>Contact | GOD CHILD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/PHOTOLSANU.ico"/>
	
  </head>
  <body>
    <div id="header">
		<div class="01">
        	<a href="index.html"><img src="images/swa vector 02-u320-fr.png" width="100px"></a>
        </div>
        <div class="02">
        	<h1>GOD CHILD Photography</h1>
        </div>
	</div>
    
    <header>
	    <div id="navbar">
    	<nav>
    		<ul>
				<li class="home_less"><a href="index.html">Home</a></li>
				<li><a href="artists.html" style="border-bottom: solid 2px #f37a21;"><b>Artists</b></a></li>
					<li><a  href="/find">Findphoto</a></li>
					<li><a href="/index">Home</a></li>
					<li ><a href="/login">Login</a></li>
					<li ><a href="/register">Register</a></li>
				</ul>
	    </nav>
	    </div> 
    </header>

	<hr>
	<div id="artists_name_list">
			<div id="body">
		<h2>A R T I S T S</h2>
	
		<div id="form ">
							<nav>
							<button type="button"
								data-toggle="collapse" data-target="#navbarCollapse"
								aria-controls="navbarCollapse" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							</nav>
					
						<form id="logoutForm" method="post" action="/logout">
					
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
					
						</form>
					
						<form class="form-inline mt-2 mt-md-0" method="GET" action="/search">
							<input class="form-control mr-sm-2" type="text" name="name"
								placeholder="Search"></input>
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					
						<tr th:each="user : ${user}">
							<h1 align="center">
								<td th:text="${user} + '\'s photos'">Onions</td>
							</h1>
						</tr>
					
					
						<div th:each="file : ${files}">
							<div class="gallery">
								<a target="_blank" th:href="${file}"> <img th:src="${file}" />
								</a>
							</div>
						</div>
					
			<nav>
		
		<button type="button"
			data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a  href="/">My Photos</a>
	</nav>

	<form id="logoutForm" method="post" action="/logout">

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />

	</form>
	<form id="logoutForm" method="post" action="/logout">

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />

	</form>

	<form th:action="@{/appLogin}" method="POST">
		User Name : <input type="text" name="app_username" /> Password: <input
			type="password" name="app_password" /> <input type="submit"
			value="Login" />
	</form>
	</div>


    <div id="footer">
    	<footer>
				<a href="index.html" class="footnav">Home</a>
		    	<li><a href="viewPic.html">View Pics</b></a></li>
		    	<a href="contact.html" class="footnav">Contact</a>
		    	<a href="about.html" class="footnav">Who We Are</a>
			<p>&copy; AAU / AAiT 2018 WEB Final Project</p>
		</footer>
	</div>
	<script type="text/javascript">
		var profile_picture = document.getElementById("profile_picture");
		var amanuelAngasu = document.getElementById("amanuelAngasu");
		amanuelAngasu.onfocus = function artists() {
			
		}
	</script>
			</div>
			</div>
  </body>
</html>
