/** {
    box-sizing: border-box;
}*/

body {
    margin: 0;
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #020517;
    text-decoration: none;
}

a h1{

    color: #f37a21;
}

#header {
    width: 100%;
    display: flex;
    color: #f37a21;
    text-align: center;
    align-items: center;
    margin-right: 240px;
    justify-content: center;
}

#header h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header ul{

    margin: 0;
}

header li{

    display: inline;
}

#navbar {
    height: 35px;
    text-align: center;
    
    /*width: 100%;*/
    /*font-size: 100%;*/
    /*background-color:#f37a21;*/
}

#navbar a{
    color: #020517;
    padding: 0 20px 0 20px;
    border-bottom: 10px;
    /*border-top: solid 2px;*/
    font-family: calibri light;
}

#navbar a:hover {
    color: #f37a21;
    background-color: #020517;
}
#navbar a:active{

    font-weight: bolder;
}

#slider img{
    width: 80%;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.wrapper{
    width: 80%;
    /*max-width: 1180px;*/
    margin: auto;
}

#featured{ 

    margin-top: 100px;
}

#featured ul{

    padding: 0;
}

#featured li{
    float: left;
    width: 23%;
    margin: 1%;
    list-style-type: none; 
}

#featured li img{
    width: 100%;
    margin-bottom: 10px;
}

#featured li a{
    color: #333;
    text-decoration: none;
    float: left;
}

#featured li span{
    float: right;
    color: #333;
}

#featured ul:after{
    content: "";
    display: block;
    clear: both;
}

#container {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: flex-start;
    justify-content: center;

    /*overflow: hidden;*/
}

#container div{
    width: 38%;
    padding: 0 10 0 10;
    font-family: calibri light , 'Lucida Grande', Arial, sans-serif;
}

iframe{
    margin: 0;
    width: 80%;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#artists_name_list {

    size: 100%;
}

#artists_name_list li, #artists_name_list h2{
    display: flex;
    padding: 10px;
    padding-left: 20%;
    flex-direction: column;
}

#profile_artists img{
    margin-right: 350px;
    margin-top: -375px;
    float: right;
    width: 25%;
}

#wrapper {
    width: 80%;
    height: 160%;
    margin-left: auto;
    margin-right: auto;
}

.responsive {
    width: 25%;
    float: left;
    height: auto;
}

.img img {

    width: 100%;
    height: auto;
}
div.img {
    margin: 5px;
    -moz-transition: all .14s ease-in-out;
    -webkit-transition: all .19s ease-in-out;
}

div.img:hover {
    opacity: .5;
    -webkit-transition: all.14s ease-in-out;
    -moz-transition: all .14s ease-in-out;
}

#body h3{
    width: 80%;
    text-align: center;
}

#form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 2%;
    color: #261f22;
    border-radius: 15px;
    background-color:#dedede;
}


input[type=submit]:hover {
    color: #f37a21;
    background-color:#261f22;
}

#phone{
    text-align: center;
    color:#f37a21;
}

.ff3{

    color: #261f22;
}

.df6 {

    color: #f37a21;
}

#groupPic img{

    width: 100%;
}

#groupInfo{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: -15%;
    font-size: 15px;
    text-align: justify;
}
#groupInfo h1{
    /*margin-top: 30%;*/
    color: #f37a21;
}

#proPic ul{
    width: auto;
    display: flex;
    position: initial;
    /*align-items: center;*/
    /*justify-content: center;*/
}

#propic li{
    /*width: 10%;*/
    /*align-items: center;*/
}

#proPic a:hover{
    opacity: .95;
    box-shadow: 50px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #f37a21;
    color: #261f22;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #261f22;
    border-radius: 4px;
    
}

.footnav{
    padding:8px;
    color:#f37a21;
}

footer {
    width: 100%;
    font-size: 80%;
    margin-top: 40px;
    position: initial;
    text-align: center;
    padding: 2px 0 2px 0;
    justify-content: center;
    background-color: #404040;

    /*height: 70px;*/
}

@media screen and (max-width: 768px){

    #header{
        padding: 0%;
        flex-direction: column;
    }
    #header img{
        padding: 15px;
    }
    #header h1{
        display: none;
    }
    #navbar a{
        padding: 3;
    }
    #featured li{
        width: 46%;
    }
    #container{
        flex-direction: column;
        margin: auto;
    }

    #container div{
        text-align: left;
        width: 80%;
        margin: auto;
    }
    #slider img{
        width: 95%; 
    }
    #wrapper{
        height: 1780px;
    }
    .responsive {
    width: 50%;
    }
    #form {
    width: 80%;
    }
}

@media screen and (max-width: 400px){
    #featured li{
        width: 90%;
    }

    #header img{
        /*padding-top: 10px;*/
        float: left;
        width: 20%;
    }

    nav{
        float: right;
        margin-top: -10%;
        padding-right: 20px; 
    }
    .home_less{
        display: none;
    }
    #wrapper{
        height: 3700px;
    }
    .responsive {
    width: 100%;
    }
    #form {
    width: 95%;
    }
}

